<div class="jumbotron">
  <div class="container">
    <p>Slooooolllly</p>
    <p>What, why, etc</p>
  </div>

  <div>
    <p>Example: <a href="/delay/1000/http://google.co.uk">/delay/1000/http://google.co.uk</a></p>
</div>
