<% content_for :title do %>
  Slowwly &middot; A test service to mock a slow api response; responds to get and post methods
<% end %>

<div class="jumbotron">
  <div class="container">
    <p>Slowwly</p>
    <p>What, why, etc</p>
  </div>

  <div>
    <p>Example: <a href="<%= base_url %>/delay/1000/http://google.co.uk"><%= base_url %>/delay/1000/http://google.co.uk</a></p>
  </div>
</div>

<div class="container" id="root">

  <%= render_partial :footer %>

</div> <!-- /container -->
